/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b; 
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  h1 {
    font-size: 36px;
    color: #ffcc00;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Links */
  a {
    color: #ffcc00;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

/* Responsive */
@media (max-width: 768px) {
    div {
      max-width: 600px;
      padding: 10px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .carrusel-container {
      padding: 5px;
    }
  }
  
  /* Pantallas pequeñas */
  @media (max-width: 480px) {
    div {
      max-width: 90%;
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
      margin: 10px 0;
    }
  
    .carrusel-container {
      margin: 10px 0;
    }
  }