.calendar-container {
  padding: 20px;
  max-width: 100%; /* Asegura que el contenedor use todo el espacio disponible */
  margin: 0 auto;
  overflow-x: auto; /* Permite scroll horizontal si es necesario */
}

.fc {
  font-size: 1.2rem;
  min-width: 900px; /* Establece un ancho mínimo para evitar que se corte el sábado */
}

.fc-toolbar-title {
  font-size: 1.5rem;
}

.fc-daygrid-event {
  padding: 5px 10px;
}

.fc-scrollgrid {
  border: none;
}

  