<form action="/auth/register" method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
    </div>
    <div>
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
    </div>
    <div>
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
    </div>
    <div>
   
        </select>
</div>
    <button type="submit">Registrar</button>
</form>

<!-- Mostrar mensajes flash -->
{{#if error}}
    <p style="color: red;">{{error}}</p>
{{/if}}
{{#if success}}
    <p style="color: green;">{{success}}</p>
{{/if}}