.footer {
    background-color: #0b0e31; /* Color de fondo oscuro */
    color: #ffcc00; /* Texto amarillo */
    text-align: center;
    padding: 15px 20px;
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: bold;
    border-radius: 10px;
  }
  
  .footer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .footer {
      font-size: 0.9rem; /* Reduce el tamaño del texto en pantallas más pequeñas */
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      font-size: 0.8rem;
      padding: 8px;
    }
  }
  