<h1>Editar Miembro</h1>
<form action="/miembros/editar/{{miembro._id}}" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="{{miembro.nombre}}" required>

    <label for="correo">Correo:</label>
    <input type="email" name="correo" value="{{miembro.correo}}" required>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" name="fechaNacimiento" value="{{miembro.fechaNacimiento}}" required>


    <button type="submit">Actualizar</button>
</form>
